<html>
    <head>
       
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/Controller/ListarProdutoCaracteristica.php" method="post">
            <label>Código do produto</label>
            <br>
            <input type="text" name="code" value="1">
            <br><br>
            <label>Id Cor</label>
            <br>
            <input type="text" name="fk_product_id_color" value="1">
            <br><br>
            <label>id Tamanho</label>
            <br>
            <input type="text" name="fk_product_size_id" value="5">
            <br><br>
            <input type="submit" value="Submit">



        </form> 
    </body>
</html>
